@media only screen and (min-width: 601px) {
#zero_padding {
    padding-left: 0px;
    padding-right: 0px;
    }
}
@media only screen and (min-width: 601px) {
nav {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 100%;
    margin-top: 0.67em;
    }
}
#h1_font-size_bold {
    font-size: 2.5em;
    font-weight: bold;
}
@media only screen and (min-width: 601px) {
    h2 {
    display: inline-block;
    font-size: 2em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
}
@media only screen and (max-width: 600px) {
    h2 {
        display: inline-block;
        font-size: 1.2em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
}
@media only screen and (max-width: 320px) {
    h2 {
        display: inline-block;
        font-size: 1.2em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
}
div.centered_text_alignment {
    text-align: center;
}
#underline_overline {
    text-decoration: underline overline;
}
#underline {
    text-decoration: underline;
}
@media only screen and (min-width: 601px) {
    #figure_a {
    display: block;
    width: 570px;
    height: 427.5px;
    margin-bottom: 0px;
    }
}
@media only screen and (min-width: 601px) {
    #figure_a {
    display: block;
    width: 570px;
    height: 427.5px;
    margin-bottom: 0px;
    }
}
@media only screen and (min-width: 601px) {
p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: large;
    }
}
#margin-top {
    margin-top: 1.75em;
}
.figure_b {
    display: block;
    width: 285px;
    height: 213.75px;
    margin-bottom: 0px;
}
#zero_margin-top {
    margin-top: 0px;
}
.margin-left-right {
    margin-left: 100px;
    margin-right: 100px;
}
.new_width_height {
    width: 80px;
    height: 80px;
}
figcaption {
    text-align: center;
    margin-bottom: 10px;
}
.large_figure {
    width: max-content;
    height: max-content;

}
#emoji_width_height_margin-left-top {
    width: 120px;
    height: 120px;
    margin-left: 82.5px;
    margin-top: 175px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 601px) {
    .pixelization {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 600px) {
    .pixelization {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 600px) {
    #set_width_height {
        width: 280px;
        height: 210px;
    }
}
#forty_pixels_emoji {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
#formatting {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 601px) {
    .figure_c {
    display: block;
    width: 480px;
    height: 360px;
    }
}
@media only screen and (max-width: 600px) {
    .figure_c {
    display: block;
    width: 480px;
    height: 360px;
    }
}