h1 {
    display: block;
    font-size: 2.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#zero_padding {
    padding-left: 0px;
    padding-right: 0px;
}

nav {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-top: 0.67em;
    margin-right: 10px;
}

h2 {
    display: inline-block;
    font-size: 2em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

div.centered_text_alignment {
    text-align: center;
}

#underline_overline {
    text-decoration: underline overline;
}

#underline {
    text-decoration: underline;
}

#figure_a {
    display: block;
    width: 570px;
    height: 427.5px;
    margin-bottom: 0px;
  }

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: large;
}

#margin-top {
    margin-top: 1.75em;
}

#figure_b {
    display: block;
    width: 285px;
    height: 213.75px;
}

#zero_margin-top {
    margin-top: 0px;
}